{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <link rel="stylesheet" href="{%static 'dist/css/AddActivity.css'%}">
</head>

<body>
    <section id="ActivityAdd">
        <form class="signup-form">
            <div class="form-header">
                <h1>Activity Details</h1>
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="input-group">
                        <label>Project Name </label>
                        <select>
                            <option>Choose Project Name</option>
                            <option>HRMS</option>
                            <option>MMS</option>
                            <option>LMS</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label>Task ID</label>
                        <select>
                            <option>Choose Task ID</option>
                            <option>T101</option>
                            <option>T102</option>
                            <option>T103</option>
                        </select>
                    </div>
                </div>

            

                <div class="row">
                    <div class="input-group">
                    <label>Date</label>
                        <input
                              class="input--style-5"
                              type="date"
                              name="sop"
                              placeholder="yyyy-mm-dd"
                            />
                    </div>
                    
                    <div class="input-group">
                    <label>Allocated Hours</label>
                        <input type="text" value="100 HRS">
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <label for="">Available Hours</label>
                        <input type="text" name="availhrs" placeholder="Available Hours">
                    </div>
                </div>
            </div>

           

            <div class="form-footer">
                <div id="next"><button class="btn">Next</button></div>             
            </div>
        </form>
    </section>

    <script>
        const changeSliderValue = (value) => {
            document.getElementById("rangeSliderLabel").innerText = value + " K";
        }
    </script>

</body>

</html>