{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <link rel="stylesheet" href="{%static 'dist/css/AddProject.css'%}">
</head>

<body>
    <section id="ProjectAdd">
        <form class="signup-form">
            <div class="form-header">
                <h1>Project Details</h1>
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="input-group">
                        <label>Project ID </label>
                        <input type="text" name="pid">
                    </div>
                    <div class="input-group">
                        <label>Project Name</label>
                        <input type="text" name="pname">
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <label>TASK DETAILS</label>
                        <input type="text" id="tname" placeholder="Task Name" class="task-in-field">
                        <input type="text" id="tid" placeholder="Task ID" class="task-in-field">
                        <input type="text" id="tdesc" placeholder="Task Description" class="task-in-field">
                        <button  id="butt" type="button" class="btn btn--radius-2 btn--red delete-row btn-primary">Add Task</button>
                       
                       
                        <br><br>

                        <table class="taskTable">
                            <thead>
                                <tr class="taskTh">
                                    <th>Select</th>
                                    <th>Task Name</th>
                                    <th>Task ID</th>
                                    <th>Task Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button  id="butt" type="button" class="btn btn--radius-2 btn--red delete-row btn-primary">Delete Task</button>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                        <label>DEPARTMENT</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                              <select
                                id="subject"
                                name="subject"
                    
                              >
                                <option disabled="disabled" selected="selected">
                                  Choose option
                                </option>
                                <option>Department 1</option>
                                <option>Department 2</option>
                                <option>Department 3</option>
                              </select>
                              <div class="select-dropdown"></div>
                            </div>
                    </div>
                   
                    <div class="input-group">
                        <label>LOCATION</label>
                        <div class="value">
                         
                            <div class="rs-select2 js-select-simple select--no-search">
                              <select
                                name="subject2"
                                
                              >
                                <option disabled="disabled" selected="selected">
                                  Choose option
                                </option>
                                <option>Location 1</option>
                                <option>Location 2</option>
                                <option>Location 3</option>
                              </select>
                              <div class="select-dropdown"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                    <label>Start Date of Project</label>
                        <input
                              class="input--style-5"
                              type="date"
                              name="sop"
                              placeholder="yyyy-mm-dd"
                            />
                    </div>
                    
                    <div class="input-group">
                    <label>End Date of Project</label>
                        <input
                              class="input--style-5"
                              type="date"
                              name="eop"
                              placeholder="yyyy-mm-dd"
                            />
                    </div>

                </div>

                <div class="row">
                    <div class="input-group">
                       <label>CHOOSE PROJECT TEAM</label>
                        <div class="value proTeam"> 
                          <select name="employees" id="employees" required>
                            <option value="">---Select Employees---</option>
                            {% for all_emp in all_emp %} 
                              <option value="{{ all_emp.EID }}">{{ all_emp }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        
                        <input type="button" class="btn btn--radius-2 btn--red add-row edu-add-btn btn-primary"
                        value="Add Member" class="task-in-field">
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                    <div class="input-group">
                        <label>Task ID</label>
                        <select>
                            <option>Choose Task ID</option>
                            <option>T101</option>
                            <option>T102</option>
                            <option>T103</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label>Employee ID</label>
                        <select>
                            <option>Choose Employee ID</option>
                            <option>T101</option>
                            <option>T102</option>
                            <option>T103</option>
                        </select>
                    </div>
                    <button  id="butt" type="button" class="btn btn--radius-2 btn--red delete-row btn-primary">Assign Task</button>
                </div>
                </div>

                <div class="row">
                    <div class="input-group">

                    </div>
                </div>


            </div>
            <div class="form-footer">
               
                <div id="next"><button class="btn">Next</button></div>             
            </div>
        </form>
    </section>

    <script>
        const changeSliderValue = (value) => {
            document.getElementById("rangeSliderLabel").innerText = value + " K";
        }
    </script>

</body>

</html>