{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=transform: translate(-50%, -50%);, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'dist/css/forgotpasswrd.css'%}">
    <title>Document</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="rec-prism">
            <div class="face face-front">
                <div class="content">
                    <h2>Forgot Password</h2>
                    <small>Enter your email so we can send you reset passsword link!</small>
                    <form method="post" action="{% url 'reset' %}">
                        {% csrf_token %}
                        <div class="field-wrapper">
                            <input type="text" name="email" placeholder="email">
                            <label>e-mail</label>
                        </div>
                        <div class="field-wrapper">
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
</html>