{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <link rel="stylesheet" href="{%static 'dist/css/ResetPassword.css'%}">
</head>

<body>
    <section id="ResetPassword">
        <form class="signup-form" method="post">
            {% csrf_token %}
            <div class="form-header">
                <h1>Reset Password Details</h1>
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="input-group">
                        <label>New Password </label>
                        <input id="npass" type="password" placeholder="New Password">
                    </div>
                </div>

                <div class="row">
                    <div class="input-group">
                    <label>Confirm Password</label>
                    <input id="cpass" type="password" placeholder="Confirm Password">
                    </div>
                </div>
           

            <div class="form-footer">
                <div id="next"><button type="submit" class="btn">Submit</button></div>             
            </div>
        </form>
    </section>

</body>

</html>